In [7]:
import pandas as pd
import numpy as np
import random as rand

In [18]:
# 隨機產生 testCase 數量
testCaseNo = rand.randrange(1, 1001, 1)
testCaseNo

442

In [63]:
# 根據 testCaseNo 隨機產生相對應變數
jobID = list(range(0, testCaseNo+1)) 
dueTime = (np.random.rand(1, testCaseNo+1) * 24).flatten()
stage1P = (np.random.rand(1, testCaseNo+1) * 10).flatten()
stage2P = (np.random.rand(1, testCaseNo+1) * 10).flatten()


# 規定 Machine 數
machineNo = rand.randrange(1, 21, 1)
machines = list(range(0, machineNo+1)) 

# 產生 Machine lists
stage1Machines = []
for i in range(0, testCaseNo+1):
  machine_st1 = rand.sample(machines, rand.randrange(1, machineNo+1, 1))
  machine_st1.sort()
  machine_st1_string = ','.join(str(e) for e in machine_st1)
  stage1Machines.append(machine_st1_string)

stage2Machines = []
for i in range(0, testCaseNo+1):
  no_stage2 = np.random.binomial(1, rand.uniform(1/8, 1/4))
  if(no_stage2):
    stage2Machines.append('N/A')
  else:
    machine_st1 = rand.sample(machines, rand.randrange(1, machineNo+1, 1))
    machine_st1.sort()
    machine_st1_string = ','.join(str(e) for e in machine_st1)
    stage2Machines.append(machine_st1_string)

In [61]:
d = {'Job ID': jobID,
     'Stage-1 Processing Time': stage1P,
     'Stage-2 Processing Time': stage2P,
     'Stage-1 Machines': stage1Machines,
     'Stage-2 Machines': stage2Machines,
     'Due Time': dueTime}

pd.DataFrame(data=d, index=jobID)

,Job ID,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines,Due Time
0,0,5.503224,5.126847,"2,3","0,3",14.832400
1,1,5.805774,5.091808,"1,2,3",1,13.514181
2,2,5.107467,3.060142,0,N/A,11.522289
3,3,5.686090,8.482828,"0,1,2","1,2",14.337878
4,4,3.547320,2.927306,1,"0,2",22.985565
...,...,...,...,...,...,...
438,438,5.984844,3.717787,2,1,16.663381
439,439,0.617873,2.093876,2,N/A,1.525353
440,440,3.870553,5.131076,3,2,16.847243
441,441,4.505171,4.463710,"0,1,2",N/A,20.678457
442,442,7.989516,7.779839,1,N/A,16.263431

In [80]:
# 包成 function


def instance_creator():
  for testnum in range(10):
    # 隨機產生 testCase 數量
    testCaseNo = rand.randrange(1, 100)

    # 根據 testCaseNo 隨機產生相對應變數
    jobID = list(range(0, testCaseNo+1))
    dueTime = (np.random.rand(1, testCaseNo+1) * 24).flatten()
    stage1P = (np.random.rand(1, testCaseNo+1) * 10).flatten()
    stage2P = (np.random.rand(1, testCaseNo+1) * 10).flatten()


    # 規定 Machine 數
    machineNo = rand.randrange(1, 21)
    machines = list(range(0, machineNo+1))

    # 產生 Machine lists
    stage1Machines = []
    for i in range(0, testCaseNo+1):
      machine_st1 = rand.sample(machines, rand.randrange(1, machineNo+1, 1))
      machine_st1.sort()
      machine_st1_string = ','.join(str(e) for e in machine_st1)
      stage1Machines.append(machine_st1_string)

    stage2Machines = []
    for i in range(0, testCaseNo+1):
      no_stage2 = np.random.binomial(1, rand.uniform(1/8, 1/4))
      if(no_stage2):
        stage2Machines.append('N/A')
      else:
        machine_st1 = rand.sample(machines, rand.randrange(1, machineNo+1, 1))
        machine_st1.sort()
        machine_st1_string = ','.join(str(e) for e in machine_st1)
        stage2Machines.append(machine_st1_string)
        
    d = {'Job ID': jobID,
         'Stage-1 Processing Time': stage1P,
         'Stage-2 Processing Time': stage2P,
         'Stage-1 Machines': stage1Machines,
         'Stage-2 Machines': stage2Machines,
         'Due Time': dueTime}


    df = pd.DataFrame(data=d, index=jobID)
    testName = 'test' + str(testnum)
    df.to_csv('./tests/' + testName + '.csv')

In [81]:
instance_creator()